* {
    background-color: #282A65;
    color: #FFFFFF;
    font-family: 'Pixelify Sans', sans-serif;
    margin-top: 75px;
}

h1 {
    font-size: 40px;
    letter-spacing: 2px;
    padding-left: 430px;
}

.container-text {
    position: absolute;
    left: 435px;
    top: 250px;
    max-width: 63%;
    margin: auto;
    text-align: left;
}

.line {
    width: 900px;
    left: 435px;
    position: absolute;
    margin: auto;
}


/* width */
::-webkit-scrollbar {
    width: 10px;
    border-radius: 50px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #282A65;
    border-radius: 50px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
    border-radius: 50px;
}





@media screen and (max-width: 1220px) {
    .container {
        font-size: 20px;
        position: absolute;
        left: -420px;
        top: -120px;
    }

    .line {
        position: absolute;
        width: 55%;
    }

    .container-text {
        position: absolute;
        top: 120px;
        left: 10px;
        max-width: 90%;
    }

}